@media(max-width: 991px) {
    .single_about .col-8 {
        padding-left: 30px;
    }
    .single_team_member.mid {
        margin: 80px 0;
    }
    .single_partner {
        margin-bottom: 80px;
    }
    .single_footer_item {
        text-align: center;
    }
    .single_footer_item ul {
        justify-content: center !important;
        align-items: center !important;
    }
    .footer_area .member_social_link {
        margin: 30px 0;
    }
}